/* ICONBOX INFO */

.iconbox-icon-holder {
    display: table-cell !important;
    vertical-align:top;
}
.iconbox-icon-holder i {
    text-align: center;
    line-height: 1em;
    padding: .1em;
    width: 100%;
}
.iconbox-block h4 {
    margin-top: 0;
}
.iconbox-text-holder {
    padding: 10px 20px;
    display: table-cell;
}
.iconbox-block {
    display: table;
    width: 100%;
}

/* HEADING AND SUBHEADING */
.header-subheader-block .header,
.header-subheader-block .heading_separator,
.header-subheader-block .subheading,
.header-subheader-block h2,
.header-subheader-block span,
.header-subheader-block h3 {
    display:inline !important;
}
